:root {
    --page-background: rgb(231, 231, 231);
    --app-background: rgb(247, 247, 247);
    --head-background: rgb(247, 247, 247);
    --page-text-color: rgb(14, 14, 14);
    --title-color: rgb(26, 26, 26);
    --settings-gradient: rgb(179, 179, 179);
    --change-color-transition: 0.3s;
}

.light-theme {
    --page-background: rgb(231, 231, 231);
    --app-background: rgb(247, 247, 247);
    --head-background: rgb(247, 247, 247);
    --page-text-color: rgb(14, 14, 14);
    --title-color: rgb(26, 26, 26);
    --settings-gradient: rgb(179, 179, 179);
}

.dark-theme {
    --page-background: rgb(27, 27, 27);
    --app-background: rgb(17, 17, 17);
    --head-background: rgb(17, 17, 17);
    --page-text-color: rgb(247, 247, 247);
    --title-color: rgb(211, 211, 211);
    --settings-gradient: rgb(49, 49, 49);
}